.navbar {
  position: fixed;
  width: 100%;
  /* overflow: hidden;
 
  z-index: 10;*/
}
.navbar-nav {
  margin-left: 100px;
}
nav a {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1.5px;
  font-family: var(--font-one);
  font-weight: 800;
  font-style: italic;
  font-size: 22px;
}

.btn {
  font-family: var(--font-one);
  font-weight: 800;
  font-style: italic;
  font-size: 18px;
  color: #dee6f1;
  background-color: #3d5a80;
}
